body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    font-family: Open Sans;
  
    width: 100vw;
  }

  .container {
    width: 92vw;
  
    margin-left: 2vw;
    margin-right: 2vw;
  }
  
  .search {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  
    background: #feaf3d;
  
    border-radius: 0.5rem;
  
    color: #ffffff;
  
    height: 9vh;
  
    margin-top: 4vw;
  }

  .task {
    border-style: solid;
    border-radius: 1rem;
    border-width: thin;
  
    margin: 1vw;
    margin-top: 2vh;
  
    font-size: 12px;
  
    padding: 1.5vw;
  
    display: flex;
  
    width: 85vw;
    height: auto;
  }

#txt-task {
    background: #422755;
  
    width: auto;
  
    text-align: center;
    color: #ffffff;
  
    position: absolute;
  }
  
  .term {
    color: red;
  
    font-size: 16px;
  }
  
  #term {
    color: #000000;
  
    font-size: 12px;
  }
  
  .about {
    flex-direction: column;
    align-items: center;
  
    text-align: center;
  }

@media (min-width: 700px) {
    .container {
      width: 80vw;
  
      margin-left: 10vw;
      margin-right: 10vw;
    }
  
    .search {
      align-items: center;
      flex-direction: initial;
    }

    .tasks {
      display: flex;
    }
  
    .task {
      flex-direction: column;
      justify-content: space-between;
  
      margin-top: 4vh;
  
      width: 15vw;
      height: auto;
    }

    .about {
      display: flex;  
      flex-direction: row;
  
      text-align: justify;
  
      margin: 4vw;
    }
  }